/* stylelint-disable order/properties-alphabetical-order */
fieldset {
  display: block;
  float: left;
  width: 100px;
  border: 5px solid;
}

.card {
  display: block;
  float: left;
  width: 200px;
  padding: 0.1% 1%;
  border: 5px solid goldenrod;
  height: auto;
}

img {
  width: 100%
}

.description {
  font-size: 0.6em;
}


