fieldset {
  border: 5px solid;
  display: block;
  float: left;
  width: 100px;
}

.card {
  border: 5px solid goldenrod;
  display: block;
  float: left;
  height: auto;
  padding: 0.1% 1%;
  width: 200px;
}

img {
  width: 100%;
}

.description {
  font-size: 0.6em;
}
